<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Novartis Banner</title>
    
    <link href="/css/banner.css" type="text/css" rel="stylesheet">
    <script src="/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="/js/banner.js" type="text/javascript"></script>
    <script src="/js/jquery.jsonReader.js" type="text/javascript"></script>
</head>

<body>
<div class="nvs_banner"> 
    <a class="nav next"></a> 
    <a class="nav prev"></a> 
    <img src="/images/malaria-initiative.jpg" width="971" height="347">
  	<div class="content">
    	<div class="metadata">
      		<h2><!-- $TITLE$ --></h2>
      		<h3><!-- $DESCRIPTION$ --></h3>
      		<div class="link-list"><!-- $LINKS$ --></div>
            <div class="share-buttons">
            	<a class="twitter"></a>
                <a class="facebook"></a>
                <a class="email"></a>
            </div>
    	</div>
  	</div>
</div>

<div class="nvs_banner hide"></div>
</body>
</html>
