<link rel="stylesheet" href="../css/banner.css" />

<div class="nvs_banner"> 
	<a class="nav next"></a> 
    <a class="nav prev"></a> 
    
    <img src="../images/neuroscience-background.jpg" width="971" height="347">
  
  	<div class="lll-wrapper">
    	<div class="container">
      		<div class="lll-metadata"> 
            	<a href="#" target="">
        			<h2>Harnessing a Unique<br />
          				Moment in Neuroscience</h2>
        		</a>
        	
            <div class="desc">Ricardo Dolmetsch, Ph.D, is happy  to be leading the Novartis Neuroscience team at a time when technologies may finally provide answers to age-old questions about the brain. </div>
        	
            <div class="lll-link"> 
            	<a href="http://www.google.it" target="_blank">Read more</a> 
            </div>
      	</div>
    </div>
    
  </div>
  
  <div class="share-buttons"> 
  	<a class="tweet" href="#">Tweet</a> 
    <a class="share" href="#">Share</a> 
    <a class="email" href="#">Email</a> 
  </div>
</div>