<div class="nvs_banner"> 
    <a class="nav next"></a> 
    <a class="nav prev"></a> 
    <img width="971" height="347">
  	<div class="content">
    	<div class="metadata">
      		<h2><!-- $TITLE$ --></h2>
      		<h3><!-- $DESCRIPTION$ --></h3>
      		<div class="link-list"><!-- $LINKS$ --></div>
            <div class="share-buttons">
            	<a class="twitter"></a>
                <a class="facebook"></a>
                <a class="email"></a>
            </div>
    	</div>
  	</div>
</div>

<div class="nvs_banner hide">
</div>
