<div class="nvs_banner"> 
    <a class="nav next"></a> 
    <a class="nav prev"></a> 
    <img width="971" height="347">
  	
    	<div class="lll-metadata">
      		<h2><!-- $TITLE$ --></h2>
      		<h3><!-- $DESCRIPTION$ --></h3>
    	</div>
        <div class="lll-link"><a href="#"><!-- $LINKS$ --></a></div>
            <div class="share-buttons">
            	<!--
                <a href="#"><div class="twitter"></div></a>
                <a href="#"><div class="facebook"></div>
                <a href="#"><div class="email"></div></a>
                 -->  	
        </div>
  	
</div>

<div class="nvs_banner hide"></div>

