<body id="home">
<div id="nvs_banner">
<img width="971" height="347">
<div class="content">
  <div class="metadata">
    <h2>$TITLE$</h2>
    <h3>$DESCRIPTION$</h3>
    <div class="link-list">$LINKS$</div>
    <div id="subpages-wrapper">
      <div id="subpages">
        <div class="metadata"> 
        	<span id="subpages-title">$INTRO_TITLE$</span> 
            <span id="subpages-description">$INTRO_DESCRIPTION$</span>
        </div>
        <div id="subpages-nav">
          <div class="buttons">
            $BUTTONS$
          </div>
        </div>
        <div class="intros"> 
        	<span class="introTitle">$ICON_TITLE$</span> 
            <span class="introDesc">$ICON_DESCRIPTION$</span></div>
      </div>
    </div>
  </div>
</div>
</body>
